config.stopbubbling = true
lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableannotations += com.shankhadeepghoshal.springbootawssqslocalstackdemo.fooqu.FooQ
lombok.copyableannotations += com.shankhadeepghoshal.springbootawssqslocalstackdemo.barqu.BarQ
lombok.copyableannotations += com.shankhadeepghoshal.springbootawssqslocalstackdemo.bazqu.BazQ
